<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"
  />
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
<link type="text/css"
href="{{prefix}}/css/ui-lightness/jquery-ui-1.8.21.custom.css"
rel="stylesheet" />
<link rel="stylesheet" href="{{prefix}}/css/jquery.mobile-1.1.0.min.css" />
<link type="text/css" href="{{prefix}}/css/notmuch-0.1.css" rel="stylesheet" />
<script type="text/javascript" src="{{prefix}}/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
src="{{prefix}}/js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="{{prefix}}/js/jquery.mobile-1.1.0.min.js"></script>
<script type="text/javascript" src="{{prefix}}/js/notmuch-0.1.js"></script>
<title>{{title}}</title>
</head><body>
<div data-role="page">
<div data-role="header">
<h2>{{title}}</h2>
{% block searchform %}
<form action="search/" method="GET">
<label for="terms">Terms</label><input id="terms" name="terms"><br>
<label for="after">After</label><input id="after"
name="after"><input id="afters" name="afters"><br>
<label for="before">Before</label><input id="before"
name="before"><input id="befores" name="befores"><br>
<input type="submit" name="submit" id="submit" value="Search">
</form>
{% endblock searchform %}
</div>
<div data-role="content">
{% block content %}
<h2>Common tags</h2>
<ul>
{% for tag in tags %}
  <li><a href="search/tag:{{ tag|url }}">{{ tag|e }}</a></li>
{% endfor %}
</ul>
</div>
{% endblock content %}
</div>
</body></html>
