<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"
  />
<link type="text/css" href="../static/css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
src="../static/js/jquery-ui-1.8.21.custom.min.js"></script>
<script type="text/javascript" src="static/js/notmuch-0.1.js"></script>
<title>Notmuch mail: search results</title>
</head>
<body>
<h1>{{ terms|e }}</h1>
<form action="../search/" method="GET">
<label for="terms">Terms</label><input id="terms" name="terms"><br>
<label for="after">After</label><input id="after"
name="after"><input id="afters" name="afters"><br>
<label for="before">Before</label><input id="before"
name="before"><input id="befores" name="befores"><br>
<input type="submit" name="submit" id="submit">
</form>
{% for t in ts %}
  <h2>{{ t.get_subject()|e }}</h2>
  <p><i>{{ t.get_authors()|e }}</i></p>
  <p><b>{{ format_time_range(t.get_oldest_date(),
                             t.get_newest_date())|e }}</b></p>
  {{ show_msgs(t.get_toplevel_messages())|safe }}
{% endfor %}
</body>
</html>
