<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% set subj = m.get_header('Subject') %}
<title>Notmuch mail: {{ subj }}</title>
</head>
<body>
<h1>Notmuch mail: {{ subj }}</h1>
{% set headers = ['Subject', 'Date'] %}
{% set addr_headers = ['To', 'Cc', 'From'] %}
{% for header in headers: %}
<p><b>{{header}}:</b>{{m.get_header(header)|e}}</p>
{% endfor %}
{% for header in addr_headers: %}
<p><b>{{header}}:</b>{{mailto_addrs(m.get_header(header))|safe}}</p>
{% endfor %}
<hr>
{% for part in format_message(m.get_filename(),mid): %}
  {{ part|safe }}
{% endfor %}
</body>
</html>
