{% extends "base.html" %}
{% block content %}
{% set headers = ['Subject', 'Date'] %}
{% set addr_headers = ['To', 'Cc', 'From'] %}
{% for header in headers: %}
<p><b>{{header}}:</b>{{m.get_header(header)|e}}</p>
{% endfor %}
{% for header in addr_headers: %}
<p><b>{{header}}:</b>{{mailto_addrs(m.get_header(header))|safe}}</p>
{% endfor %}
<hr>
{% for part in format_message(m.get_filename(),mid): %}
  {{ part|safe }}
{% endfor %}
<hr>
<ul>
  {% if prv: %} <li>Previous message (by thread): {{link_msg(prv)|safe}}</li> {% endif %}
  {% if nxt: %} <li>Next message (by thread): {{link_msg(nxt)|safe}}</li> {% endif %}
</ul>
<h3>Thread:</h3>
{{show_msgs(thread)|safe}}
<hr>
{% endblock content %}
